# Python dependencies for your project
jupyter==1.0.0
notebook==7.0.0
lxml
streamlit==1.37.1
yfinance==0.2.43
pandas==2.2.2
numpy==1.26.4       # avoid NumPy 2.x issues
matplotlib==3.8.4
requests==2.32.3
lxml==5.2.2         # needed if you ever use pandas.read_html
